@model IEnumerable<UC_app.Models.Comment>

<div class="row line"></div>
@foreach (var comment in Model)
{
    <div class="row">
        <div class="col-md-11 comment-section">
            <img class="avatar" src="@(!String.IsNullOrEmpty(comment.AvatarBase64) ? comment.AvatarBase64 : "/Content/avatar.jpg")">
            <strong class="primary-font">
                @comment.UserName
            </strong>
            <span> Commented: </span>
            <span class="comment-text" @(comment.Gender == "Male" ? "style=color:darkred" : "style=color:forestgreen")> @comment.Text </span>
            <div>
                <small class="text-muted">
                    <span class="glyphicon glyphicon-time"></span>Posted @TimeSpendFrom(comment.Date)
                </small>
            </div>
        </div>
    </div>

    <div class="row line-dotted"></div>
}

@helper TimeSpendFrom(DateTime date)
{
    TimeSpan span = DateTime.Now.Subtract(date);
    if (Math.Abs(span.TotalMinutes) < 60)
    {
            @String.Format("{0} minutes ago", span.Minutes);
        return;
    }
    else if (Math.Abs(span.TotalHours) < 60)
    {
            @String.Format("{0} hours ago", span.Hours);
        return;
    }
    else
    {
            @String.Format("{0} days ago", span.Days);
        return;
    }
}